.contact-form-wrapper {
  max-width: 650px;
  margin: 0 auto;
}

.form-field-textarea {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-field-textarea label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: 600;
}

.form-field-textarea textarea {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  resize: vertical;
  box-sizing: border-box; /* Importante */
}

/* Estilo para los campos deshabilitados (autocompletados) */
.atomic-input:disabled {
  background-color: #f4f4f4;
  color: #777;
  cursor: not-allowed;
}