.success-toast {
  position: fixed;
  bottom: 20px;
  right: 20px; /* En la esquina inferior izquierda */
  background-color: #008a4c; /* Verde éxito */
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 1rem;
  font-weight: 500;
  z-index: 2000;
  
  /* Animación de entrada */
  animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}