.admin-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.admin-page-header h1 {
  color: #2c3e50;
  margin: 0;
}

/* Hacemos que el botón de "Crear" sea más pequeño */
.admin-page-header .atomic-button {
  width: auto;
  padding: 0.7rem 1.2rem;
  font-size: 0.95rem;
}